* {
    -moz-user-select: none;
    user-select: none;
}

#stage {
    position: relative;
    width: 375px;
    height: 350px;
    margin: 1px auto;
}

body {
    cursor: pointer;
    background-color: #74748f;
}

img#titleScreen {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

canvas {
    display: block;
    position: absolute;
    width: 125px;
    height: 175px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    cursor: pointer;
}

@font-face {
    font-family: Vanilla;
    src: url("SuperMario256.ttf");
}

#restart {
    color: #ee498b;
}

#div {
    height: 10px;
}

p {
    font-family: Vanilla;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin: 1px auto; */
}

h1 {
    font-family: Vanilla;
    font-size: 60px;
    padding: 10px;
}

#timer {
    color: #ffffff;
}